.app {
  text-align: center;
}

.search-bar {
  width: 500px;
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.search-button {
  height: 50px;
  width: 100px;
}

